services:
  nats:
    image: nats:latest
    ports:
      - "4222:4222"
    command: -js

  app:
    image: golang:1.24-alpine
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    environment:
      - NATS_URL=nats://nats:4222
      - GORETRO_SESSION_SECRET=dev_Bve8zfg8RvNJHh8jxxEAVj8oe00bE2QY
    entrypoint: go run ./cmd/web
    depends_on:
      - nats