services:
  app:
    image: golang:1.24-alpine
    working_dir: /app
    volumes:
      - .:/app
      - ./go-cache:/go # cache go modules on our machine
    ports:
      - "8080:8080"
    environment:
      - GORETRO_SESSION_SECRET=dev_Bve8zfg8RvNJHh8jxxEAVj8oe00bE2QY
    entrypoint: go run ./cmd/web