# fly.toml app configuration file generated for go-retro on 2024-12-22T15:15:18+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'go-retro'
primary_region = 'sin'

[build]
image = "ekaputra07/goretro:latest"

[experimental]
  cmd = ["-secure", "true"]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services.ports]]
  handlers = ["http"]
  port = 8080
  force_https = true

[[services.http_checks]]
  interval = 5000
  grace_period = "5s"
  method = "get"
  path = "/health"
  protocol = "http"
  timeout = 1000

[[vm]]
  size = 'shared-cpu-1x'