{{ define "timer_modal" }}
<!-- new timer modal -->
<div class="fixed inset-0 flex h-screen w-full items-end md:items-center justify-center z-10" x-show="$store.app.openTimerModal">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="md:p-4 md:max-w-lg mx-auto w-full flex-1 relative overflow-hidden">
        <div class="w-full rounded-t-lg md:rounded-md bg-white p-8">
            <h2 class="font-semibold text-xl mb-6 text-gray-800">Timer duration</h2>
            <div class="mb-4">
                <input type="text" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded-md w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-sky-500" x-model="$store.app.timer.duration" x-ref="timerDuration" autofocus @keydown.enter="$store.app.startTimer()"/>
                <p class="text-gray-500 text-sm mt-2">Supported formats: <strong>5m</strong> or <strong>30s</strong> or <strong>5m30s</strong></p>
            </div>
            <div class="flex justify-between items-center mt-8 text-right">
                <div class="flex-1">
                <button type="button" class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-1 px-4 border border-gray-300 rounded-md shadow-sm mr-2" @click="$store.app.closeModal('timer')">
                    Cancel
                </button>
                <button type="button" class="text-white font-semibold py-1 px-4 border border-transparent rounded-md shadow-sm bg-sky-600 hover:bg-sky-700"  @click="$store.app.startTimer()">
                    Start
                </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->
{{ end }}