{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Primary Meta Tags -->
	<title>{{.AppName}} {{.AppVersion}} - {{.AppTagline}}</title>
	<meta name="title" content="{{.AppName}} {{.AppVersion}} - {{.AppTagline}}" />
	<meta name="description" content="{{.AppTagline}}" />
	<link rel="stylesheet" href="/static/assets/main.css">
	<script src="/static/assets/main.js" defer></script>
	<style>
		[x-cloak] {
			display: none;
		}
	</style>
</head>
<body class="antialiased sans-serif bg-slate-300">
	{{ template "alert" . }}
    {{ template "board" . }}
</body>
</html>
{{ end }}